@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
@font-face{
  font-family:LINESeed;
  src:url(./components/LINESeed_W_XBd-7d940d31ff60f5953c6d93ec102bcac8.woff) ;
  font-weight: 700;
	font-style: normal;
}

*{
  font-family: SFPro,Arial,Noto Sans JP,AppleSDGothicNeo,sans-serif;
}

.App {
  text-align: center;
  box-sizing: border-box;
}

h2{
  font-family: 'LINESeed';
}

.header-wrapper{
  display: flex;
  justify-content: space-between;
  margin: 1px 30px 0;
  line-height: 75px;
  height: 74px;
}

.logo{
  margin: 2px 0 0 0 ;
}

.nav-title{
  margin: -2px 0 0 26px;
}

.nav-title a{
  font-size: 16px;
  font-weight: 700;
  color: #1e1e1e;
  text-decoration: none;
  margin: 0 80px 0 0  ;
  padding: 0 0 6px 0;
  border-bottom: 4px solid #1e1e1e;
}
.nav-title a:last-child{
  margin: 0;
}

.ball-wrapper{
  display: inline-block;
}
.ball{
  display: flex;
  align-items: center;
}
.ball img{
  margin: -2px 5px 0 0 ;
}

.language{
  font-size: 14px;
  font-weight: 700;
  margin: -3px -1px 0 0;
  font-family: 'LINESeed';
}

.banner-background{
  height: 63vh;
  background: url(./components/image/mv01.jpg)no-repeat;
  background-position:center ;
  background-size: cover;
  background-attachment:fixed ;
  text-align: left;
  padding: 277px 0 0 142px ;
}

.banner-title-wrapper{
  display: inline-block;
}

.banner-title-wrapper h2{
  font-size: 140px;
  font-weight: 700;
  color: #fff;
  margin: 0 ;
}

.banner-title-wrapper h3{
  font-size: 40px;
  text-indent: 8px;
  font-weight: 400;
  color: #fff;
  margin: 0;
  position: relative;
}

.download-icon-title{
  display: flex;
  align-items: center;
  margin: 53px 0 0 8px;
}

.download-icon-title p{
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  margin: -6px 0 0 8px;
}
.download-wrapper{
  display: flex;
  margin:11px 0 0 8px;
}
.download-icon{
  font-size: 20px;
  height: 58px;
  width: 58px;
  line-height: 58px;
  text-align: center;
  border: 1px solid #eee;
  color: #fff;
  border-radius: 4px;
  margin: 0 4px 0 0;
}
.download-icon:first-child{
  font-size: 24px;
}

.main-title-area h2{
  color: #1e1e1e;
  font-size: 70px;
  margin: 60px 0 0 20px;
}
.main-title-area p{
  color: #616161;
  line-height: 32px;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 115px;
}

.ServiceBox-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 0;
}
.ServiceBox-content-wrapper{
  border-right: 1px dashed #b2b2b2;
  position: relative;
}
.ServiceBox-content{
  width: 480px;
  padding: 173px 0px 173px 40px;
  box-sizing: content-box;
  margin: 0 78px 0 1px;
  text-align: left;
}
.ServiceBox-content img{
  border: .5px solid rgba(0,0,0,.1);
  border-radius: 16px;
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
  margin: 0 0 20px -1px;
}
.ServiceBox-content h3{
  margin: 0 0 20px 0 ;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  color: #1e1e1e;
}
.ServiceBox-content h4{
  color: #07b53b;
  font-size: 18px;
  font-weight: 500;
  line-height: 28.08px;
  margin: 0 0 8px 0;
}
.ServiceBox-content p{
  color: #777;
  font-size: 18px;
  font-weight: 400;
  line-height: 30.6px;
  margin: 0 0 67px 0;
}
.ServiceBox-content a{
  background: #fff;
  padding: 0 24px;
  width: 161px;
  font-size: 14px;
  color: #1e1e1e;
  font-weight: 500;
  box-sizing: border-box;
  height: 60px;
  letter-spacing: -0.3px;
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,.15);
  text-decoration: none;
  display: flex;
  align-items: center;
}
.external{
  font-size: 20px;
  margin: 0 8px 0 0;
}
.ServiceBox-rightImg{
  width: 600px;
  padding: 83px 0;
  position: relative;
  left: -151px;
}

.left-border{
  border: 0;
  border-left: 1px dashed #b2b2b2;
}

.ServiceBox-leftImg{
  width: 600px;
  padding: 83px 0;
  position: relative;
  left: -130px;
}

.ServiceBox-content2{
  padding: 317px 40px 317px 80px;
  margin: 0;
}
.ServiceBox-content .download-icon{
  color: #000;
  border: 1px solid rgba(0,0,0,.15);
}
.point{
  width: 8px;
  height: 8px;
  border: 1px solid rgba(30,30,30,.3);
  border-radius: 8px;
  background: #fff;
}
.big-point-wrapper{
  width: 18px;
  height: 18px;
  border: 1px solid rgba(30,30,30,0.3);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -19px;
  right: -11px;
}
.big-point{
  width: 2px;
  height: 2px;
  border: 1px solid rgba(30,30,30,.3);
  border-radius: 8px;
  background: rgba(30,30,30,.3);
}
.right-border .point{
  position: absolute;
  top: 0px;
  right: -6px;
}
.left-border .point{
  position: absolute;
  top: 0px;
  left: -6px;
}