@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

.App {
  text-align: center;
}

.header-wrapper div{
  display: inline-block;
}

.header-wrapper{
  display: flex;
  justify-content: space-between;
  margin: 0 65px 0 30px;
  line-height: 75px;
  height: 75px;
}

.logo{
  margin: 2px 0 0 0 ;
}

.title{
  margin: -2px 0 0 26px;
}
.title a{
  font-size: 16px;
  font-weight: 700;
  color: #1e1e1e;
  text-decoration: none;
  font-family: SFPro,Arial,Noto Sans JP,AppleSDGothicNeo,sans-serif;
  margin: 0 80px 0 0  ;
  padding: 0 0 6px 0;
  border-bottom: 4px solid #1e1e1e;
}
.title a:last-child{
  margin: 0;
}

.ball {
  display: inline-block;
  position: relative;
  margin: 2px 0px 0 0 ;
}

.language{
  font-size: 14px;
  font-weight: 700;
  position: absolute;
  top: -5px;
  left: 25px;
}